input[type='text'],
input[type='email']{
  display:block;
  width:400px;
  padding:6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: #555;
  border: 1px solid rgb(16, 83, 27);
  border-radius: 4px;
  margin-bottom: 20px;
}
.form-control{
  margin-bottom: 20px;
}
.error{
  color: red;
}